$gray-dark: #272E35;
$primary-color:#579AFF;
$gray-blur: #A5B2C3;
$gray-light: #F4F4F4;
$gray: #868D93;
$pink: #FF858D;
@import "global";
@import "header";
@import "banner";
@import "work.scss";
@import "intro.scss";
@import "plan.scss";